/* HEADER */
.header {
  width: 100%;   /* full viewport width */
  height: 150px;

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;
}

/* Optional overlay */
/* .header::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(255, 255, 255, 0.4); */
} */

/* .header > * {
  position: relative;
  z-index: 1;
} */

/* LOGOS */
.left img,
.right img {
  height: 100px;
  margin: 30px;
}

/* CENTER TEXT */
.center {
  text-align: center;
  color: #000;
  max-width: 60%;
}

.center h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.center p {
  margin: 2px 0;
}

.center .sub {
  font-size: 13px;
}


/* 📱 MOBILE RESPONSIVE */
@media (max-width: 768px) {

  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .left, .right {
    margin: 5px 0;
  }

  .center {
    max-width: 100%;
  }

  .center h1 {
    font-size: 16px;
  }

  .center .sub {
    font-size: 11px;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu a {
    margin: 5px 10px;
  }
}